body{
    margin:0;
}
select{
    border:none;

}
.burger{
    display:none;

}
.parent{
    display:flex;
    justify-content:center;
    align-items:center;
}
#palette2{
    font-size:1.1vw;
    height:30px;
    margin-bottom:1vw;
    width:94%;
   
    display:flex;
    justify-content:space-evenly;
    align-items:center
}
@media only screen and (max-width: 950px) {
    
    .burger{
        display:block;
        margin-left:2.5vw;
        margin-right:-3vw;
    }
    .parent{
        display:none;
    }
    .palette1{
        display:none;
    }
  }
.insti{
    display:flex;
    height:fit-content;
    width:25vw;
    margin-top:0.5vw;
    margin-bottom:1vw;    
    justify-content: space-between;
}
.insti :nth-of-type(1){
    align-self:center;
}
.insti img{
    height:5vw;
    width:34vw;
    margin-left: 5vw;
    margin-top:2vw;
    
}
#icon2{
    height:2vw;
    width:5vw;
    
    display:flex;
    justify-content:space-evenly;
    align-items:baseline;
    
}
#smol{
    font-size:0.8vw; 
    
}
#mid{
    font-size: 1.2vw;
}
#large{
    font-size:1.5vw;

}
#icon3{
    width:4.5vw;
    height:2vw;
    font-size:1vw;
    display:flex;
    justify-content: space-between;
}
#box1 button{
    font-size:1vw;
    height:2vw;
    width:2vw;
    border:1px solid #1A76BB;
    border-radius: 3px;
   
}
#box2 button{
    font-size:1vw;
   
    height:2vw;
    width:2vw;
    background-color: #1A76BB;
    color:white;
    border:1px solid #1A76BB;
    border-radius: 3px;
    
}

#options1{
    font-size:1vw;
    display:flex;
    height:2vw;
    width:22vw;
    
    justify-content:space-between;
    align-items:center;
    position:absolute;
    top:2vw;
    left:70vw;

}
#options2{
    height:2vw;
    width:20vw;
    font-size:1vw;
   
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:absolute;
    top:4vw;
    left:69vw;
}
hr{
    width:90%;
    height:0.1vw;
    background-color: #80B3D9;
}
.altblue{
    background-color: #5183B8;
    color:white;
    height:17rem;
    width:100%;
    
}
h1{
    font-size: 3vw;
    font-family:"Lato";
    font-weight: 500;
}

.intro{
    display:flex;
    flex-direction:column;
    height:17rem;
    width:50vw;
    margin-left:5vw;
    justify-content: space-evenly;
}
.introtext{
    height:4rem;
    width:20rem;
    line-height: 2rem;

}

.hometeam{
    height:2vw;
    width:8rem;
    display:flex;
    justify-content:space-between;    
}
.para{
    
    width:90%;
    margin-top:3.26vw;
    margin-left:5vw;
    font-size:1.1vw;
}
.designers{
    height:31rem;
    width:100%;
    display:flex;
    flex-direction:column;
    z-index:10000;
    

}
.designers .info{
    align-self:center;
}
.des1 .des2 .des3{
    z-index:100;
    
}

.info{
    height:13.7rem;
    background-color: #5183B8;
    width:100%;
    z-index:10;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    flex-wrap:wrap;

    
}
/* .des1{
    height:30rem;
    width:20rem;
    background-color: pink;
} */
.imgdes1{
    height:13.6rem;
    width:15rem;
    display:flex;
    justify-content: center;
    align-items:center;

}
.imgdes1 img{
    z-index: 5;
    height:21.8rem;
    width:22rem;
    /* margin-bottom:10vw; */
    position:relative;
    top:-4rem;
    filter:grayscale();
}
.imgdes1 img:hover{
    filter:none;
}
.des{
    height:20rem;
    width:15rem;

    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
}

.socials{
    display:flex;
    height:2rem;
    width:5rem;
    justify-content:space-evenly;
    align-items:center;
    
}
.hrdes hr{
    width:9rem;
    background-color:#FFD53D;
    border:none;
}
.imgdes2{
    height:13.6rem;
    width:15rem;
    display:flex;
    justify-content: center;
    align-items:center;

}
.imgdes2 img{
    z-index: 5;
    height:18rem;
    width:13rem;
    /* margin-bottom:10vw; */
    position:relative;
    top:-2rem;
    filter:grayscale();
}
.imgdes2 img:hover{
    filter:none;
}
.imgdes3{
    height:13.6rem;
    width:15rem;
    display:flex;
    justify-content: center;
    align-items:center;
}
.imgdes3 img{
    z-index: 5;
    height:20rem;
    width:13rem;
    /* margin-bottom:10vw; */
    position:relative;
    top:-3rem;
    filter:grayscale();
}
.imgdes3 img:hover{
    filter:none;
}
.imgdev2{
    height:13.6rem;
    width:15rem;
    display:flex;
    justify-content: center;
    align-items:center;

}
.imgdev2 img{
    z-index: 5;
    height:21rem;
    width:17rem;

   
    position:relative;
    top:-3.6rem;
    filter:grayscale();
}
.imgdev2 img:hover{
    filter:none;
}
.imgdev3{
    height:13.6rem;
    width:15rem;
    display:flex;
    justify-content: center;
    align-items:center;
}
.imgdev3 img{
    z-index: 5;
    height:21rem;
    width:20rem;
    /* margin-bottom:10vw; */
    position:relative;
    top:-3.6rem;
    filter:grayscale();
}
.imgdev3 img:hover{
    filter:none;
}
@media only screen and (max-width: 718px){
    .space{
        height:12.2rem;
        width:100%;
        margin-top:3.5rem;
        background-color:#5183B8;

    }
    .space2{
        height:8rem;
        width:100%;
        background-color: white;
    }
    
    .des3{
        height:20rem;
        width:15rem;
        margin-top:3.5rem;
    }
    .space1{
        height:10.9rem;
        width:100%;
        margin-top:3.5rem;
        background-color:#5183B8;

    }
    .space3{
        height:10.9rem;
        width:100%;
        margin-top:-2.2rem;
        background-color:#5183B8;

    }
    
}
@media only screen and (max-width: 550px){
    .space{
        height:42rem;
        width:100%;
        background-color:white;
    }
    .space1{
        height:37rem;
        width:100%;
        background-color:white;
        
    }
    .space3{
        height:30rem;
        width:100%;
        margin-top:-2.2rem;
        background-color:white;

    }
    .info{
        background-color: white;
    }
    .des{
        height:20rem;
        width:100%;
        display:flex;
        flex-direction:column;
        justify-content:space-evenly;
        align-items:center;
        margin-top:5rem;
    }
    .imgdes1{
        height:12rem;
        width:100%;
        background-color:#5183B8;
        display:flex;
        justify-content: center;
        align-items:center;
    
    }
    .imgdes1 img{
        z-index: 5;
        height:18rem;
        width:18rem;
        /* margin-bottom:10vw; */
        position:relative;
        top:-3rem;
        filter:grayscale();
    }
    .imgdes1 img:hover{
        filter:none;
    }
    .imgdes2{
        height:13.6rem;
        width:100%;
        background-color:#5183B8;
        display:flex;
        justify-content: center;
        align-items:center;
    
    }
    .imgdes2 img{
        z-index: 5;
        height:18rem;
        width:13rem;
        /* margin-bottom:10vw; */
        position:relative;
        top:-2rem;
        filter:grayscale();
    }
    .imgdes2 img:hover{
        filter:none;
    }
    .imgdes3{
        height:13.6rem;
        width:100%;
        background-color:#5183B8;
        display:flex;
        justify-content: center;
        align-items:center;
    }
    .imgdes3 img{
        z-index: 5;
        height:20rem;
        width:13rem;
        /* margin-bottom:10vw; */
        position:relative;
        top:-3rem;
        filter:grayscale();
    }
    .imgdes3 img:hover{
        filter:none;
    }
    .imgdev2{
        height:13.6rem;
        width:100%;
        background-color:#5183B8;
        display:flex;
        justify-content: center;
        align-items:center;
    
    }
    .imgdev2 img{
        z-index: 5;
        height:21rem;
        width:17rem;
    
       
        position:relative;
        top:-3.6rem;
        filter:grayscale();
    }
    .imgdev2 img:hover{
        filter:none;
    }
    .imgdev3{
        height:13.6rem;
        width:100%;
        background-color:#5183B8;
        display:flex;
        justify-content: center;
        align-items:center;
    }
    .imgdev3 img{
        z-index: 5;
        height:21rem;
        width:20rem;
        /* margin-bottom:10vw; */
        position:relative;
        top:-3.6rem;
        filter:grayscale();
    }
    .imgdev3 img:hover{
        filter:none;
    }
    .info .des1{
        margin-top:1rem;
    }
    

}

  @media only screen and (max-width: 950px) {
    #palette1{
        display:none;
    }
    .insti img{
        height:6vw;
        width:55vw;
        margin-left: 5vw;
        
        
    }
}

.bottom{
    height:auto;
    display:flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
}
.infoparent{
    height:auto;
    width:15rem;
    display:flex;
    justify-content:space-evenly;

}
.info1{
    font-size:1rem;
    height:20rem;
    width:18rem;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items: flex-start;
    
}
.map img{
    height:6.5rem;
    width:11rem;

}
.contact1{
    font-size:0.8rem;
    height:1rem;
    width:5rem;
    display:flex;
    align-items:center;
}
.contact2{
    font-size:0.8rem;
    height:1rem;
    width:10.5rem;
    display:flex;
    align-items:center;
    justify-content: space-between;
}
.email{
    font-size:0.8rem;
    height:1rem;
    width:9rem;
    display:flex;
    align-items:center;
    justify-content: space-between;
}
.fb5{
    height:1.5rem;
    width:7rem;
    display:flex;
    justify-content: space-between;
    align-items:center;

}
.info2{
    line-height: 0.5vw;
    font-size: 0.7rem;
    height:20rem;
    width:10rem;
    
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:flex-start;
}
.add{
    height:4rem;
    width:18rem;
    display:flex;
    align-items: flex-end;

}
.head1{
    display:flex;
    height:2rem;
    width:12rem;
    justify-content: space-between;
    align-items:center;
}
.rect{
    height:8rem;
    width:14rem;
    background-color: #C4C4C4;
}
.head{
    height:4rem;
    width:18rem;
    line-height:0.4rem;
}
.footer{
    font-size:0.8rem;
    display:flex;
    flex-direction:column;
}
.f1{
    height:2rem;
    background-color: #C4C4C4;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.f11{
    margin-left:2vw;
    height:2rem;
    width:20rem;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.f12{
    margin-right:8vw;
}
.f2{
    font-size:0.8rem;
    color:white;
    height:2rem;
    background-color:black;
    display:flex;
    align-items: center;
}
@media only screen and (max-width: 550px){
    .bottom{
        margin-top:50rem;
        height:auto;
        width:100%;
        display:flex;
        flex-direction:column;
        align-items:center;
    }
    .info1{
        display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items: center;

    }
    .info2{
        display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:flex-start;
    }
    .head{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }
    .f12{
        display:none;
    }
    .f1{
        display:flex;
        justify-content:space-evenly;
        align-items:center;
    }
    .f11{
        width:80%;
    }
    .f21{
        width:100%;
        display:flex;
        align-items:center;
        justify-content: center;
    }
}
@media only screen and (max-width: 719px){
    .bottom{
        margin-top:15rem;
        height:auto;
        width:100%;
        display:flex;
        flex-wrap:wrap;
        /* flex-direction:column;
        align-items:center; */
    }
    .info1{
        display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items: center;

    }
    .info2{
        display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:flex-start;
    }
    .head{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }
    .f12{
        display:none;
    }
    .f1{
        display:flex;
        justify-content:space-evenly;
        align-items:center;
    }
    .f11{
        width:80%;
    }
    .f21{
        width:100%;
        display:flex;
        align-items:center;
        justify-content: center;
    }
}